In [7]:
#1write a program to reverse a string
a="mallesh bandari"
a[::-1]

'iradnab hsellam'

In [11]:
#2check if string is polydrome
a1="malayalam"
a2="madam"
b=a1[::-1]
b1=a2[::-1]
print(b)
print(b1)

malayalam
madam

In [12]:
#3convert a string to uppercase
a3="mallesh bandari"
a3.upper()

'MALLESH BANDARI'

In [13]:
#4convert a string to lowercase
a4="MALLESH BANDARI"
a4.lower()

'mallesh bandari'

In [41]:
#5count the number vowels in a string
def mahi(a):
    d=0
    a5="aeiouAEIOU"
    for k in a:
        if k in a5:
            d+=1
    return d
b1="mallesh BANDARI"
c=mahi(b1)
print(c)

5

In [42]:
#6count the no.of consonants in a string
def hima(a):
    b=0
    a6="bcdfghjklmnpqrstvwxyzBCDFGHKLMNPQRSTVWXYZ"
    for i in a:
        if i in a6:
            b+=1
    return b
a6="MALLESH hima BANDRARI suresh"
b2=hima(a6)
print(b2)

16

In [43]:
#7remove all white spaces in a string
def malli(a):
    b=""
    for i in a:
        if i!=" ":
            b+=i
    return b
b2="mallesh hima SURESH bandari"
b3=malli(b2)
print(b3)

malleshhimaSURESHbandari

In [61]:
#8find the length of a string without using length function
l="mallesh bandari HIMA SURESH"
b=0
for i in l:
    b+=1
print(b)

27

In [62]:
#9check if string contains a specific word
a="mallesh bandari hima suresh"
b= "hima"
if b in a:
    print("i love hima")
else:
    print("she has different character")

i love hima

In [63]:
#10 replace a word in a string in another word
a="mallesh bandari hima suresh"
a.replace("suresh","bandari")

'mallesh bandari hima bandari'

In [2]:
#11count the occurence of a string
a="mallesh bandari hima bandari hima mallesh hima suresh"
b=a.split()
print(b)
b.count("hima")

['mallesh', 'bandari', 'hima', 'bandari', 'hima', 'mallesh', 'hima', 'suresh']

3

In [5]:
#12find the first occurence of a word in a string
a2="mallesh bandari is the most talented person"
b2=a2.split()
print(b2)
b2[1]

['mallesh', 'bandari', 'is', 'the', 'most', 'talented', 'person']

'bandari'

In [7]:
#13find the last occurence of a word in a string
a3="i love hima suresh himallesh"
b3=a3.split()
b3[-1]

'himallesh'

In [8]:
#14split a string into a list words
a4="i love hima suresh and she loves to me"
b4=a4.split()
list(b4)

['i', 'love', 'hima', 'suresh', 'and', 'she', 'loves', 'to', 'me']

In [10]:
#15 join a list of words into a string
a5="i saw a girl in thiruvaluru stadium she is beautiful"
b5=a5.join(["hima","mallesh","bandari"])
print(b5)

himai saw a girl in thiruvaluru stadium she is beautifulmalleshi saw a girl in thiruvaluru stadium she is beautifulbandari

In [12]:
#16Convert a string where words are separated by spaces to one where words are separated by underscores
a6="mallesh bandari is the most important person"
a6.replace(" ","_")

'mallesh_bandari_is_the_most_important_person'

In [14]:
#17Check if a string starts with a specific word or phrase.
a7="mallesh bandari hima suresh"
b7=a7.startswith("mallesh")
print(b7)

True

In [15]:
#18check if a string endswith a specific word or pharse.
a8="mallesh bandari is the most important person"
b8=a8.endswith("hima")
print(b8)

False

In [16]:
#19convert a string to a title case.
a9="hello world"
a9.title()

'Hello World'

In [7]:
#20find the langest word in a string.
def hima(k):
    d=k.split()
    a=""
    b=0
    for i in d:
        if len(i)>b:
            b=len(i)
            a=i
    return a
f="mallesh bandari is the most important persson"
l=hima(f)
print(l)

important

In [11]:
#21 find the shortest word in a string
def mallesh(a):
    b=a.split()
    c=None
    v=float('inf')
    for k in b:
        if len(k)<v:
            v=len(k)
            c=k
    return c
h="mallesh bandari is the greatest person"
g=mallesh(h)
print(g)

is

In [14]:
#22reverse the order of words in a string
a="mallesh bandari"
b=a[::-1]
print(b)

iradnab hsellam

In [15]:
#23 check if string is alphanumeric
a="mallesh hima malleshbandari himasuresh"
b=a.isalnum()
print(b)

False

In [18]:
#24 extract all digits from a string
def mahi(a):
    b=""
    for i in a:
        if i.isdigit():
            b+=i
    return b
c="mallesh123bandari391"
d=mahi(c)
print(d)

123391

In [20]:
#25 extract all alphabets from a string
def haima(a):
    b=""
    for i in a:
        if i.isalpha():
            b+=i
    return b
c="hima143 mallesh295"
d=haima(c)
print(d)

himamallesh

In [29]:
#26 count the number of uppercase letters in a string
def him(a):
    b=sum(1 for i in a if i.isupper())
    return b
c="MALLESHHIMA bandarisuresh"
d=him(c)
print(d)

11

In [30]:
#27 count the number of lowercase letters in a string
def malli(a):
    c=sum(1 for i in a if i.islower())
    return c
d="i love HIMA SURESH mallesh bandari"
e=malli(d)
print(e)

19

In [31]:
#28 Swap the case of each character in a string
a="Hello World"
b=a.swapcase()
print(b)

hELLO wORLD

In [43]:
#29 remove a specific word in a string
def laxmi(j,l):
    c=j.split()
    d=[i for i in c if i!=l]
    e=' '.join(d)
    return e
j="Mallesh bandari is loves hima suresh"
l="suresh"
h=laxmi(j,l)
print(h)

Mallesh bandari is loves hima

In [2]:
#30 check if string is valid email adress
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [3]:
#31extract tbe username from an email adress string
def extract_username(email):
    username = email.split('@')[0]
    return username
# Example email address
email = "example@email.com"
result = extract_username(email)
print(result)

example

In [6]:
#32 extract the domain name from an email adress string
def extract_domain(email):
    domain = email.split('@')[1]
    return domain
# Example email address
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

In [11]:
#33 replace multiple in a string with a single space
def anji(a):
    b=' '.join(a.split())
    return b
c="hello    world!   how    are   you?"
d=anji(c)
print(d)

hello world! how are you?

In [12]:
#34 check if string is valid url
from urllib.parse import urlparse
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc]) 
    except ValueError:
        return False
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

In [15]:
#35extract the protocal from a url string
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [29]:
def character_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency
input_str = "mallesh hima"
char_freq = character_frequency(input_str)
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'm', Frequency: 2
Character: 'a', Frequency: 2
Character: 'l', Frequency: 2
Character: 'e', Frequency: 1
Character: 's', Frequency: 1
Character: 'h', Frequency: 2
Character: ' ', Frequency: 1
Character: 'i', Frequency: 1

In [32]:
#37remove all punctuations from a string
import string
def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string
input_str = "Hello, world! How's it going?
cleaned_str = remove_punctuation(input_str)
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Object `going` not found.
Original string: mallesh hima
Cleaned string: mallesh hima

In [1]:
#38check if string contains only digits
a1="mallesh bandari391"
a2=a1.isdigit()
print(a2)

False

In [3]:
#39 check if string only alphabets
a3="malleshhima"
a4=a3.isalpha()
print(a4)

True

In [4]:
#40 convert a string to a list of characters
a5="mallesh bandari hima suresh"
a6=list(a5)
print(a6)

['m', 'a', 'l', 'l', 'e', 's', 'h', ' ', 'b', 'a', 'n', 'd', 'a', 'r', 'i', ' ', 'h', 'i', 'm', 'a', ' ', 's', 'u', 'r', 'e', 's', 'h']

In [10]:
#41 check if two strings are anagrams
def hima(s1,s2):
    s1 = s1.replace(" ", "").lower()
    s2 = s2.replace(" ", "").lower()
    return sorted(s1) == sorted(s2)
s1 = "listen"
s2 = "silent"
s3 = "hello"
s4 = "world"
result1 = hima(s1,s2)
result2 = hima(s3,s4)
print(f"'{s1}' and '{s2}' are anagrams:", result1)
print(f"'{s3}' and '{s4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [6]:
#42 Encode a string using a Caesar cipher.
def mahi(a,b):
    d=""
    for i in a:
        if i.isalpha():
            c=chr((ord(i)+b-ord('a'))%26+ord('a'))
        else:
            c=i
            d+=c
    return d
f="Hello, world!"
g=3
k=mahi(f,g)
print("Encoded text:",k)

Encoded text: , !

In [7]:
#43 Decode a Caesar cipher encoded string.
def luky(k,b):
    c=""
    for i in k:
        if i.isalpha():
            d=chr((ord(i)-b-ord('a'))%26+ord('a'))
        else:
            d=i
            c+=d
    return c
k="lopp zroug!"
b=3
c=luky(k,b)
print(c)

 !

In [8]:
#44 Find the most frequent word in a string.
import re
from collections import Counter
def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
input_str = "Hello world, hello there! How's the world?"
most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

In [9]:
#45.Find all unique words in a string.
import re
def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())
    return words
input_str = "Hello world, hello there! How's the world?"
unique_word_set = unique_words(input_str)
print("Unique words:", unique_word_set)

Unique words: {'hello', 'there', 'world', 'the', 'hows'}

In [10]:
#46 Count the number of syllables in a string
import re
def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1 = "hello"
word2 = "banana"
word3 = "syllable"
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [11]:
#47.Check if a string contains any special characters
import re
def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [12]:
#48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)
        return modified_string, removed_word
    else:
        return None, None
input_str = "This is an example sentence to test the function."
n_value = 4
modified_str, removed_word = remove_nth_word(input_str, n_value)
print("Original string:", input_str)
if modified_str is not None:
 print("Modified string:", modified_str)
 print("Removed word:", removed_word)
else:
 print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [24]:
#49. Insert a word at the nth position in a string.
a1="mallesh bandari loves hima suresh"
a2=a1.split()
print(a2)
a3=a2.insert(1,"naksha")
print(a3)

['mallesh', 'bandari', 'loves', 'hima', 'suresh']
None

In [3]:
#50. Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob,22, UK"
list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', '22', ' UK']

In [4]:
#1.Create a list with integers from 1 to 10.
a=range(1,10)
a1=list(a)
print(a1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
#2. Find the length of a list without using the `len()` function.
def kavi(a2):
    c=0
    for i in a2:
        c+=1
    return c
l=[10,56,25,55,25,36]
d=kavi(l)
print(d)

6

In [9]:
#3 Append an element to the end of a list
d=[10,36,65,33,25,34,15]
d.append(30)
print(d)

[10, 36, 65, 33, 25, 34, 15, 30]

In [10]:
#4. Insert an element at a specific index in a list
a3=[10,20,30,40,50]
a3.insert(3,60)
print(a3)

[10, 20, 30, 60, 40, 50]

In [13]:
#5. Remove an element from a list by its value.
a4=[10,55,22,25,22,36,45,12,55,14,42]
a4.remove(22)
a4

[10, 55, 25, 22, 36, 45, 12, 55, 14, 42]

In [22]:
#6. Remove an element from a list by its index
a5=[18,58,65,55,69,18,35,15]
a5.pop(0)
a5
a5.pop(2)
a5

[58, 65, 69, 18, 35, 15]

In [26]:
#7. Check if an element exists in a list.
a6=[15,26,31,289,46,25,15,18,38,12]
b2=46
if b2 in a6:
    print("iam mallesh",b2)
else:
    print("hima",b2)

iam mallesh 46

In [31]:
#8.Find the index of the first occurrence of an element in a list.
a8=[25,66,215,45,454,25,25,558]
a9=25
a7=a8.index(a9)
print(a9,a7)

25 0

In [32]:
#9.Count the occurrences of an element in a list.
a4=[12,44,154,26,14,25,14,36,12,14,12]
a4.count(12)

3

In [36]:
#10.Reverse the order of elements in a list
a5=[15,66,215,22,13,14,36]
a6=a5[::-1]
a6

[36, 14, 13, 22, 215, 66, 15]

In [43]:
#11.Sort a list in ascending order.
a2=[10,56,45,254,26,21,55,11]
a2.sort()
a2

[10, 11, 21, 26, 45, 55, 56, 254]

In [51]:
#12.Sort a list in descending order
a3=[25,36,66,25,265,29,36,11,54]
a3.sort()
a3.reverse()
a3

[265, 66, 54, 36, 36, 29, 25, 25, 11]

In [56]:
#13.Create a list of even numbers from 1 to 20.
a6=range(2,21,2)
a7=list(a6)
print(a7)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [58]:
#14.Create a list of odd numbers from 1 to 20
a7=range(1,21,2)
a8=list(a7)
print(a8)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [61]:
#15.Find the sum of all elements in a list.
a4=[12,66,25,36,58,3]
a5=sum(a4)
a5

200

In [63]:
#16.Find the maximum value in a list.
a6=[23,25,15,36,15,363,25,15,44]
a7=max(a6)
print(a7)

363

In [64]:
#17.Find the minimum value in a list.
a1=[12,68,14,225,12,36,36,26]
a2=min(a1)
a2

12

In [77]:
#18.Create a list of squares of numbers from 1 to 10.
a4=[x**2 for x in range(1,11)]
a4

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
#19.Create a list of random numbers.
import random 
a=[random.randint(1,100) for x in range(10)]
print(a)

[58, 97, 93, 58, 55, 75, 61, 18, 71, 53]

In [2]:
#20.Remove duplicates from a list.
a5=[10,63,36,35,36,36,33,225,22,33]
a6=set(a5)
a6

{10, 22, 33, 35, 36, 63, 225}

In [10]:
#21.Find the common elements between two lists.
a2=[55,26,66,54,66]
a3=[36,56,55,66,24]
[x for x in a2 if x in a3]

[55, 66, 66]

In [12]:
#22.Find the difference between two lists.
a1=[55,36,25,32,33]
a2=[16,25,36,32,22]
a3=set(a1).difference(a2)
a3
a4=list(a3)
a4

[33, 55]

In [14]:
#23.Merge two lists.
a6=[25,36,22,35]
a7=[66,36,52,20]
a8=a6+a7
a8

[25, 36, 22, 35, 66, 36, 52, 20]

In [17]:
#24.Multiply all elements in a list by 2.
a9=[45,25,32,56,21,35]
a1=[i*2 for i in a9]
print(a1)

[90, 50, 64, 112, 42, 70]

In [21]:
#25.Filter out all even numbers from a list.
b1=[25,23,33,22,26,52,264,335,65]
b2=[x for x in b1 if x%2!=0]
print(b2)

[25, 23, 33, 335, 65]

In [34]:
#26.Convert a list of strings to a list of integers.
b3=["36","632","22","25","363"]
b4=[int(i) for i in b3]
b4

[36, 632, 22, 25, 363]

In [35]:
#27.Convert a list of integers to a list of strings.
c=[25,36,25,35,36,25,15,25]
c1=[str(k) for k in c]
print(c1)

['25', '36', '25', '35', '36', '25', '15', '25']

In [7]:
#28.Flatten a nested list.
def mahi(a):
    b=[]
    for i in a:
        if isinstance(i,list):
            b.extend(mahi(i))
        else:
            b.append(i)
    return b
a=[[10,20,35],[63,52,14],[18,25],[14,32,12,15]]
e=mahi(a)
print(e)

[10, 20, 35, 63, 52, 14, 18, 25, 14, 32, 12, 15]

In [13]:
#29.Create a list of the first 10 Fibonacci numbers
def mallu(c):
    a=[0,1]
    for i in range(2,c):
        d=mallu(i-1)+mallu(i-2)
        a.append(d)
    return a
e=mallu(2)
print(e)

[0, 1]

In [15]:
#30.Check if a list is sorted.
def laxmi(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True
a = [10, 20, 30, 40, 50]
if laxmi(a):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [27]:
#31.Rotate a list to the left by `n` positions
def kali(lst,n):
    n=n % len(lst)
    a=lst[n:]+lst[:n]
    return a
l=[1,2,3,4,5,6,7,8]
n=2
k=kali(l,n)
print(k)

[3, 4, 5, 6, 7, 8, 1, 2]

In [31]:
#32.Rotate a list to the right by `n` positions.
def babu(lst,n):
    n=n%len(lst)
    a=lst[-n:]+lst[:-n]
    return a
b=[1,2,3,4,5,6,7,8]
n=5
f=babu(b,n)
print(f)

[4, 5, 6, 7, 8, 1, 2, 3]

In [32]:
#33.Create a list of prime numbers up to 50.
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        print(i,num)
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True
prime_numbers = [num for num in range(2,30) if is_prime(num)]
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [4]:
#34.Split a list into chunks of size `n
def anji(l):
    a= []
    k= [True] * (l + 1)
    k[0] = k[1] = False
    for n in range(2, int(l** 0.5) + 1):
        if k[n]:
            a.append(n)
            for m in range(n * n, l + 1, n):
                k[m] = False
    for n in range(int(l ** 0.5) + 1, l + 1):
        if k[n]:
            a.append(n)
    return a
b = anji(100)
print("List of prime numbers up to 50:",b)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [3]:
#35.Find the second largest number in a list.
a = [10, 5, 20, 15, 30, 25]
s = sorted(set(a))
if len(s) >= 2:
    b= s[-2]
    print("Second largest number:", b)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [11]:
#36.Replace every element in a list with its square.
c=[2,4,3,6,7,8]
for i in c:
    print(i**2)

4
16
9
36
49
64

In [22]:
#37.Convert a list to a dictionary where list elements become keys and their indices become values.
m=["mallesh","hima","anjali","treesa"]
k={a: index for index,a in enumerate(m)}
print("Converted dictionary:",k)

Converted dictionary: {'mallesh': 0, 'hima': 1, 'anjali': 2, 'treesa': 3}

In [24]:
#38.Shuffle the elements of a list randomly.
import random
c=[10,20,30,40,50,60]
d=random.shuffle(c)
print(c)

[30, 10, 40, 20, 50, 60]

In [39]:
#39.Create a list of the first 10 factorial numbers.
def hima(k):
    if k==0 or k==1:
        return 1
    else:
        return k*hima(k-1)
s=[hima(i) for i in range(10)]
print(s)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [42]:
#40.Check if two lists have at least one element in common.
def treesa(l1,l2):
    for i in l1:
        if k in l2:
            return True
    return False
l1=[1, 2, 3, 4, 5]
l2=[4, 5, 6, 7, 8]
if treesa(l1,l2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists do not have any common elements.

In [45]:
#41.Remove all elements from a list.
a1=[10,52,32,35,15,16]
a1.clear()
print(a1)

[]

In [46]:
#42.Replace negative numbers in a list with 0.
a2=[-10,30,60,90,-40,55,-66,-10]
for i in range(len(a2)):
    if a2[i]<=0:
        a2[i]=0
print(a2)

[0, 30, 60, 90, 0, 55, 0, 0]

In [2]:
#43.Convert a string into a list of words.
a4="i love hima suresh mallesh bandari mallesh hima"
a5=a4.split()
print(a5)

['i', 'love', 'hima', 'suresh', 'mallesh', 'bandari', 'mallesh', 'hima']

In [10]:
#44.Convert a list of words into a string.
a6=["mallesh","hima","suresh","bandari","love"]
a7=" ".join(a6)
a7

'mallesh hima suresh bandari love'

In [20]:
#45.Create a list of the first `n` powers of 2.
n=5
a1=[2**i for i in range(n)]
print(a1)

[1, 2, 4, 8, 16]

In [27]:
s=["apple", "banana", "cherry", "date", "elderberry"]
l=""
for i in s:
    if len(i)>len(l):
        l=i
print("Longest string:",l)

Longest string: elderberry

In [34]:
#47.Find the shortest string in a list of string.
s1=["apple", "banana", "cherry", "date", "elderberry"]
a2=s1[0]
for s in s1:
    if len(s)<len(s1):
        a2=s
print("Shortest string:",a2)

Shortest string: date

In [35]:
#48.Create a list of the first `n` triangular numbers.
def kaki(n):
    return [i*(i + 1)//2 for i in range(1, n + 1)]
n = 5
s3= kaki(n)
print("List of the first", n, "triangular numbers:",s3)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [36]:
#49.Check if a list contains another list as a subsequence.
def malli(s,m):
    a1=0
    for k in m:
        if k==s[a1]:
            a1+=1
            if a1==len(s):
                return True
    return False
m=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s=[3, 5, 8]
if malli(s,m):
 print("Main list contains the subsequence.")
else:
 print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [37]:
#50.Swap two elements in a list by their indices.
list=[1, 2, 3, 4, 5]
i1=1
i2=3
temp = list[i1]
list[i1] = list[i2]
list[i2] = temp
print("List after swapping elements:", list)

List after swapping elements: [1, 4, 3, 2, 5]

In [1]:
#1.Create a tuple with integers from 1 to 5.
a=range(1,6)
a1=tuple(a)
print(a1)

(1, 2, 3, 4, 5)

In [2]:
#2.Access the third element of a tuple.
a3=(10,20,30,40,50)
a4=a3[3]
a4

40

In [12]:
#3.Find the length of a tuple without using the `len()` function.
def mahi(a):
    b1=0
    for i in a:
        b1+=1
    return b1
a3=(15,16,10,25,95,35)
b4=mahi(a3)
print(b4)

6

In [17]:
#4.Count the occurrences of an element in a tuple.
a4=(10,20,70,40,10,70,80,10,20,40,40,80)
def anji(a4):
    a5=10
    a6=0
    for i in a4:
        if i==a5:
            a6+=1
    return a6
a5=anji(a4)
print(a5)

3

In [18]:
#5.Find the index of the first occurrence of an element in a tuple.
a6=(10,20,30,40,50,60,70,80)
a7=a6[1]
print(a7)

20

In [20]:
#6.Check if an element exists in a tuple.
a8=(15,20,34,55,68,16,32,25)
print(15 in a8)
print(10 in a8)

True
False

In [21]:
#7.Convert a tuple to a list.
a9=(10,20,30,40,50,60,70)
b2=list(a9)
print(b2)

[10, 20, 30, 40, 50, 60, 70]

In [22]:
#8.Convert a list to a tuple.
b3=[55,62,35,18,12,25,64,19]
b4=tuple(b3)
print(b4)

(55, 62, 35, 18, 12, 25, 64, 19)

In [26]:
#9.Unpack the elements of a tuple into variables.
b5=(10,20,30,40,50)
var1,var2,var3,var4,var5=b5
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

10
20
30
40
50

In [28]:
#10.Create a tuple of even numbers from 1 to 10.
b6=range(2,11,2)
b7=tuple(b6)
print(b7)

(2, 4, 6, 8, 10)

In [29]:
#11.Create a tuple of odd numbers from 1 to 10.
b8=range(1,11,2)
b9=tuple(b8)
print(b9)

(1, 3, 5, 7, 9)

In [32]:
#12.Concatenate two tuples.
c1=(22,33,44,55)
c2=(10,20,30,40,50)
c3=c1+c2
print(c3)

(22, 33, 44, 55, 10, 20, 30, 40, 50)

In [33]:
#13.Repeat a tuple three times.
c4=(10,20,30)
c5=c4*3
print(c5)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [35]:
#14.Check if a tuple is empty
c6=()
c7=(10,20,30)
if not c6:
    print("i love hima")
else:
    print("mallesh loves hima")
if not c7:
    print("this is not correct")
else:
    print("this is the correct")

i love hima
this is the correct

In [36]:
#15.Create a nested tuple.
c8=((10,20,30),(15,35),(11,22,33,44),(70,80,90))
print(c8)

((10, 20, 30), (15, 35), (11, 22, 33, 44), (70, 80, 90))

In [41]:
#16.Access the first element of a nested tuple.
c9=((10,20,88),(21,35,62,48),(50,60,70,80),(55,66,33))
d=c9[0][1]
d

20

In [43]:
#17.Create a tuple with a single element.
d1=(20,)
print(d1)

(20,)

In [46]:
#18.Compare two tuples.
d2=(10,20,30,40)
d3=(10,20,33,44)
print(d2==d3)
print(d2!=d3)
print(d2<d3)
print(d2>d3)
print(d2<=d3)
print(d2>=d3)

False
True
True
False
True
False

In [23]:
#19.Delete a tuple.
d4=(10,20,30,40)
del d4
d4

NameError: name 'd4' is not defined

In [55]:
#20.Slice a tuple.
d5=(12,16,20,80,30,24,35)
d6=d5[1:6:2]
print(d6)

(16, 80, 24)

In [56]:
#21.Find the maximum value in a tuple.
d7=(10,25,35,66,22,14,42,80,95,22)
d8=max(d7)
print(d8)

95

In [57]:
#22.Find the minimum value in a tuple.
d9=(22,51,33,61,21,95,46,10,72)
e=min(d9)
print(e)

10

In [59]:
#23.Convert a string to a tuple of characters.
e1="mallesh loves hima"
e2=tuple(e1)
print(e2)

('m', 'a', 'l', 'l', 'e', 's', 'h', ' ', 'l', 'o', 'v', 'e', 's', ' ', 'h', 'i', 'm', 'a')

In [69]:
#24.Convert a tuple of characters to a string.
e3=("h","e","l","l","O"," ","w","o","r","l","d")
e4="".join(e3)
print(e4)

hellO world

In [71]:
#25.Create a tuple from multiple data types.
e5=(10,20,33.5,66.9,"mallesh","hima")
print(e5)

(10, 20, 33.5, 66.9, 'mallesh', 'hima')

In [73]:
#26.Check if two tuples are identical.
e6=(10,20,30,40)
e7=(10,20,30,40)
e8=(55,22,66,88,99)
e9=e6==e7
print(e9)
f=e7==e8
print(f)

True
False

In [80]:
#27.Sort the elements of a tuple.
f1=(10,25,32,15,18,29,66,20)
f2=tuple(sorted(f1))
print(f2)

(10, 15, 18, 20, 25, 29, 32, 66)

In [84]:
#28.Convert a tuple of integers to a tuple of strings.
f3=(10,20,30,50,42,40)
f4=tuple(str(i) for i in f3)
print(f4)

('10', '20', '30', '50', '42', '40')

In [88]:
#29.Convert a tuple of strings to a tuple of integers.
f5=("20","30","10","40","60")
f6=tuple(int(k) for k in f5)
print(f6)

(20, 30, 10, 40, 60)

In [90]:
#30.Merge two tuples.
f7=(10,20,30)
f8=(25,36,12,24)
f9=f7+f8
print(f9)

(10, 20, 30, 25, 36, 12, 24)

In [96]:
#31.Flatten a nested tuple.
def nani(a):
    b=[]
    for i in a:
        if isinstance(i,tuple):
            b.extend(nani(i))
        else:
            b.append(i)
    return b
a=((10,20,30),(25,15,35),(24,12))
b1=tuple(nani(a))
print(b1)

(10, 20, 30, 25, 15, 35, 24, 12)

In [97]:
#32.Create a tuple of the first 5 prime numbers.
def prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
p=[num for num in range(2,100) if prime(num)][:5]
p1=tuple(p)
print("Tuple of the first 5 prime numbers:",p1)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [101]:
#33.Check if a tuple is a palindrome.
def palindrome(tup):
    return tup==tup[::-1]
tuple=(1, 2, 3, 2, 1)
nontuple=(1, 2, 3, 4, 5)
palindrome1=palindrome(tuple)
palindrome2=palindrome(nontuple)
print("palindrome_tuple is a palindrome:",palindrome1)
print("non_palindrome_tuple is a palindrome:",palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [3]:
#34.Create a tuple of squares of numbers from 1 to 5.
g=tuple(x**2 for x in range(1,6))
print(g)

(1, 4, 9, 16, 25)

In [5]:
#35.Filter out all even numbers from a tuple.
g1=(10,21,33,30,56,12,25,37,38,92,65)
g2=tuple( i for i in g1 if i%2!=0)
print(g2)

(21, 33, 25, 37, 65)

In [4]:
#36.Multiply all elements in a tuple by 2.
g3=(12,24,36,10,40,50,80)
g4=tuple(k*2 for k in g3)
print(g4)

(24, 48, 72, 20, 80, 100, 160)

In [6]:
#37.Create a tuple of random numbers.
import random
g5=tuple(random.randint(1,100) for k in range(10))
g5

(84, 27, 36, 14, 3, 31, 56, 21, 37, 93)

In [8]:
#38.Check if a tuple is sorted.
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [9]:
#39.Rotate a tuple to the left by `n` positions.
def rotate_tuple_left(tup, n):
    n = n%len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [12]:
#40.Rotate a tuple to the right by `n` positions.
def bheem(a,n):
    n=n%len(a)
    b=a[-n:]+a[:-n]
    return b
c=(1, 2, 3, 4, 5)
d=2
r=bheem(c,d)
print(r)

(4, 5, 1, 2, 3)

In [14]:
#41.Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci=[0,1]
    while len(fibonacci)<n:
        next_number=fibonacci[-1]+fibonacci[-2] 
        fibonacci.append(next_number)
    return tuple(fibonacci)
fibonacci_tuple=generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [4]:
#42.Create a tuple from user input.
a=input()
b=a.split(',')
c= tuple(b)
print(c)

mallesh
('mallesh',)

In [9]:
#43.Swap two elements in a tuple.
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
 my_tuple[i] if i not in (index1, index2) else
 my_tuple[index2] if i == index1 else
 my_tuple[index1]
 for i in range(len(my_tuple))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [10]:
#44.Reverse the elements of a tuple.
a6=(10,60,30,50,40,80,90)
a7=a6[::-1]
print(a7)

(90, 80, 40, 50, 30, 60, 10)

In [15]:
#45.Create a tuple of the first `n` powers of 2.
n=8
a9=tuple(2**x for x in range(n))
print(a9)

(1, 2, 4, 8, 16, 32, 64, 128)

In [17]:
#46.Find the longest string in a tuple of strings.
b7=("mallesh","hima","suresh","bandari","bandari hima")
b8=max(b7,key=len)
print(b8)

bandari hima

In [18]:
#47.Find the shortest string in a tuple of strings.
a4=("bheem","chnadu","anjali","laxmi","rakhi")
a6=min(a4,key=len)
print(a6)

bheem

In [19]:
#48.Create a tuple of the first `n` triangular numbers.
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [20]:
#49.Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [23]:
#50.Create a tuple of alternating 1s and 0s of length `n`.
n=10
a9=tuple(i%2 for i in range(n))
print(a9)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [24]:
#1.Create a set with integers from 1 to 5.set based quations
c=range(1,6)
c1=set(c)
print(c1)

{1, 2, 3, 4, 5}

In [27]:
#2.Add an element to a set.
c2={20,40,30,10,50,60}
c2.add(80)
print(c2)

{80, 50, 20, 40, 10, 60, 30}

In [28]:
#3.Remove an element from a set.
c3={15,23,66,55,48,92,12,25}
c3.remove(66)
print(c3)

{12, 15, 48, 23, 55, 25, 92}

In [30]:
#4.Check if an element exists in a set.
c4={10,50,60,42,31,25,48}
print(31 in c4)
print(90 in c4)

True
False

In [38]:
#5.Find the length of a set without using the `len()` function.
c5={20,30,50,90,28,50}
b=0
for i in c5:
    b+=1
print(b)

5

In [40]:
#6.Clear all elements from a set.
c6={15,63,24,18,20,45,28}
c6.clear()
c6

set()

In [41]:
#7.Create a set of even numbers from 1 to 10.
c7=range(2,11,2)
c8=set(c7)
print(c8)

{2, 4, 6, 8, 10}

In [42]:
#8.Create a set of odd numbers from 1 to 10.
c9=range(1,11,2)
c1=set(c9)
print(c1)

{1, 3, 5, 7, 9}

In [43]:
#9.Find the union of two sets.
d={15,26,35,24,42,12,34}
d1={16,24,41,17,92,28}
d.union(d1)

{12, 15, 16, 17, 24, 26, 28, 34, 35, 41, 42, 92}

In [44]:
#10.Find the intersection of two sets.
d2={15,62,35,89,25,16,24}
d3={26,35,25,24,29,21,18,27}
d2.intersection(d3)

{24, 25, 35}

In [45]:
#11.Find the difference between two sets.
d4={56,63,36,25,39,85,66}
d5={63,35,25,23,54,36,24,69}
d4.difference(d5)

{39, 56, 66, 85}

In [53]:
#12.Check if a set is a subset of another set.
d6={10,60,52,22,33,56,25,15}
d7={15,52,22,15,60}
d7.issubset(d6)

True

In [55]:
#13.Check if a set is a superset of another set.
d8={15,35,19,21,36,54,35,33,25}
d9={25,33,35,21,54,25}
d8.issuperset(d9)

True

In [58]:
#14.Create a set from a list.
d2=[20,10,30,40,60,50]
d3=set(d2)
print(d3)

{40, 10, 50, 20, 60, 30}

In [57]:
#15.Convert a set to a list.
f={28,65,66,25,36,68}
f1=list(f)
print(f1)

[65, 66, 36, 68, 25, 28]

In [59]:
#16.Remove a random element from a set.
f2={66,63,36,39,31,75,36}
f2.pop()

66

In [1]:
#17.Pop an element from a set.
f3={10,20,40,50,70,60,20}
f4=f3.pop()
print(f3)

{20, 70, 40, 10, 60}

In [2]:
#18.Check if two sets have no elements in common.
f5={56,66,54,36,15,25,28}
f6={10,20,40,30,60,90,70}
f7=f5.intersection(f6)
print(f7)

set()

In [5]:
#19.Find the symmetric difference between two sets.
f8={25,26,14,25,45,66,34,51,34}
f9={35,32,15,45,21,51,20,35,26}
g=f8.symmetric_difference(f9)
print(g)

{32, 66, 35, 34, 14, 15, 20, 21, 25}

In [9]:
#20.Update a set with elements from another set.
g1={15,25,36,14,45,35}
g2={28,65,14,23,15,62}
g1.update(g2)
print(g1)

{65, 35, 36, 45, 14, 15, 23, 25, 28, 62}

In [2]:
#21.Create a set of the first 5 prime numbers.
def prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True
set1=set()
n=2
while len(set1)<5:
    if prime(n):
        set1.add(n)
    n+=1
print(set1)

{2, 3, 5, 7, 11}

In [5]:
#22. Check if two sets are identical.
g2={10,20,30,40}
g3={30,20,40,10}
if g2==g3:
    print("i love my india")
else:
    print("this is mallesh")

i love my india

In [6]:
#23.Create a frozen set.
g4=[10,30,40,20,50,60]
g5=frozenset(g4)
print(g5)

frozenset({40, 10, 50, 20, 60, 30})

In [12]:
#24.Check if a set is disjoint with another set.
g6={10,30,40,20}
g7={11,22,33,44}
g8=g6.isdisjoint(g7)
print(g8)

True

In [14]:
#25.Create a set of squares of numbers from 1 to 5.
k=6
k1={x**2 for x in range(k)}
print(k1)

{0, 1, 4, 9, 16, 25}

In [16]:
#26.Filter out all even numbers from a set.
k2={15,56,17,65,45,15,62,66}
k3={i for i in k2 if i%2==0}
print(k3)

{56, 66, 62}

In [17]:
#27.Multiply all elements in a set by 2.
k4={22,55,30,25,52,50}
k5={i*2 for i in k4}
print(k5)

{100, 104, 44, 110, 50, 60}

In [19]:
#28.Create a set of random numbers.
import random
n=8
a=set()
for i in range(n):
    b=random.randint(1,50)
    a.add(b)
print(a)

{33, 36, 5, 8, 9, 14, 49, 25}

In [21]:
#29.Check if a set is empty.
a3={66,69,55,33,15,36}
if a3:
    print("this is mallesh")
else:
    print("this is not correct")

this is mallesh

In [24]:
#30.Create a nested set (hint: use frozenset).
l={56,66,25,36,35}
l1={66,58,36,33,26}
l2=frozenset(l)
l3=frozenset(l1)
l4=(l2,l3)
print(l4)

(frozenset({66, 35, 36, 56, 25}), frozenset({33, 66, 26, 36, 58}))

In [29]:
#31.Remove an element from a set using the discard method.
l5={52,22,36,12,35,23}
n=36
l5.discard(n)
print(l5)

{35, 52, 22, 23, 12}

In [33]:
#32.Compare two sets.
n={10,25,36,25,36,26}
n1={55,25,62,66,55}
n2=n.issubset(n1)
print(n2)
n3=n.issuperset(n1)
print(n3)
n4=n.intersection(n1)
print(n4)
n5=n.union(n1)
print(n5)
n6=n.difference(n1)
print(n6)
n7=n1.difference(n)
print(n7)

False
False
{25}
{66, 36, 10, 55, 25, 26, 62}
{10, 26, 36}
{66, 62, 55}

In [34]:
#33.Create a set from a string.
b3="mallesh loves hima"
b4=set(b3)
print(b4)

{'h', 'm', 'l', 'a', 'v', 'i', 's', 'e', 'o', ' '}

In [40]:
#34.Convert a set of strings to a set of integers.
b5={"25","36","23","22","56"}
b1=set()
for i in b5:
    b6=int(i)
    b1.add(b6)
print(b1)
print(b5)

{36, 22, 23, 56, 25}
{'36', '25', '23', '22', '56'}

In [41]:
#35.Convert a set of integers to a set of strings.
b3={36,48,66,15,35,15}
b4={str(x) for x in b3}
print(b4)

{'36', '66', '15', '48', '35'}

In [43]:
#36.Create a set from a tuple.
a6=(55,62,44,66,35,42)
a7=set(a6)
print(a7)

{66, 35, 42, 44, 55, 62}

In [44]:
#37.Convert a set to a tuple.
a7={25,68,52,258,35,580}
a8=tuple(a7)
print(a8)

(258, 35, 68, 580, 52, 25)

In [45]:
#38.Find the maximum value in a set.
b5={55,63,26,36,25,35,52,36}
max(b5)

63

In [46]:
#39.Find the minimum value in a set.
b6={25,56,35,36,55,25,35}
min(b6)

25

In [ ]:
#40.Create a set from user input.
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")
    if user_input.lower() == 'done':
        break
        user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> 26
> 28
> 12
> 15

In [1]:
#41.Check if the intersection of two sets is empty.
c={265,666,25,665,256}
d={55,69,57,66,47,66}
a=c.intersection(d)
print(a)

set()

In [3]:
#42.Create a set of the first 5 Fibonacci numbers.
fibonacci_set=set()
a,b=0,1
for i in range(6):
    fibonacci_set.add(a)
    a,b=b,a+b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [4]:
#43.Remove duplicates from a list using sets.
l2=[25,65,45,25,36,55,55,55,32,25,45]
l3=set(l2)
print(l3)

{32, 65, 36, 45, 55, 25}

In [5]:
#44.Check if two sets have the same elements,regardless of their count.
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
if result:
 print("The sets have the same elements.")
else:
 print("The sets do not have the same elements.")

The sets have the same elements.

In [6]:
#45.Create a set of the first `n` powers of 2.
def beer(n):
    a1=set()
    for i in range(n):
        p=2**i
        a1.add(p)
    return a1
n=6
b=beer(n)
print(b)

{32, 1, 2, 4, 8, 16}

In [1]:
#46.Find the common elements between a set and a list.
s={3,7,9,12,15}
m=[7,12,5,9]
l=set(m)
c=[]
for i in s:
    if i in l:
        c.append(i)
print("Common elements:", c)

Common elements: [7, 9, 12]

In [11]:
#47.Create a set of the first `n` triangular numbers.
def kavi(n):
    s1=set()
    for i in range(1, n + 1):
        t1=i*(i + 1) // 2
        s1.add(t1)
    return s1
n=int(input("Enter the value of n: "))
t=kavi(n)
print(f"The set of the first {n} triangular numbers is:",t)

Enter the value of n: 8
The set of the first 8 triangular numbers is: {1, 3, 36, 6, 10, 15, 21, 28}

In [14]:
#48.Check if a set contains another set as a subset.
a3={15,36,66,45,265}
a4={15,45,36}
d=a3.issubset(a4)
e=a4.issubset(a3)
print(d)
print(e)

False
True

In [16]:
#49.Create a set of alternating 1s and 0s of length `n`.
def shivam(n):
    a3=set()
    for i in range(n):
        if i % 2 == 0:
            a3.add(1)
        else:
            a3.add(0)
    return a3
n=10 
k=shivam(n)
print(k)

{0, 1}

In [20]:
#50.Merge multiple sets into one.
a5={59,56,66,48,265}
a6={22,36,25,365,45,15}
a7={36,66,256,253,364}
a8={256,555,5265,23,66,55}
a9=a5.union(a6,a7,a8)
print(a9)

{256, 66, 265, 15, 5265, 22, 23, 25, 36, 555, 364, 45, 365, 48, 55, 56, 59, 253}